@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OpenSans', Arial;
}
header {
    display: flex;
    background-image: url('../images/mesa.jpg');
    background-position: center;
    background-size: cover;
    height: 360px;
}
.banner {
    width: 100%;
    background-color: #000000b3;
    height: 360px;
}
.banner .line {
    background-color: #faa60f;
    height: 5px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #000;
}
.menu-opener {
    display: none;
}
.menu nav {
    display: flex;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li a{
    padding: 0px 15px;
    text-decoration: none;
    color: white;
    list-style: none;
}
.button {
    background-color: #faa60f;
    padding: 10px 25px;
}
.button a {
    text-decoration: none;
    color: white;
}

.area1 {
    padding: 80px 80px;
    display: flex;
    justify-content: center;
}

.area1-left--top {
    display: flex;
}
.logo img {
    width: 200px;
    height: auto;
}
.description {
    margin-top: 30px;
}
.description h1 {
    font-size: 35px;
    color: #3C4C54;
    font-weight: bold;
}
.description h3 {
    font-size: 25px;
    color: #181b1c;
    font-weight: 300;
    margin-top: 30px;
}
.title h3 {
    font-size: 22px;
    color: #3C4C54;
    padding-bottom: 10px;
    border-bottom: 2px solid #63001F;
    display: inline-block;
    margin-top: 20px;
}
.title p {
    font-size: 20px;
    color: #707070;
    margin-top: 30px;
}
.blue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 465px;
    height: 60px;
    background-color: #112b4c;
    color: white;
    font-size: 30px;
}
.blue h2 {
    font-size: 30px;
}
.date{
    background-color: #ddd;
    padding: 15px;
    height: 200px;
}
.date-one{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.date-one h4, .date-one p {
    font-weight: normal;
    font-size: 20px;
}

.area-gray {
    background-color: #333;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.area-gray--title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area-gray--title h2 {
    font-size: 40px;
}
.area-gray--title h3 {
    font-size: 21px;
    font-weight: normal;
    margin: 20px 0px;
}
.area-gray--title hr {
    width: 200px;
    border: 2px solid #faa60f;
}
form {
    display: flex;
}
form h4 {
    margin-left: 10px;
}
.area-gray--form {
    margin-top: 80px;
}
form input,
form select {
    width: 500px;
    max-width: 500px;
    height: 40px;
    padding: 0px 10px;
    margin: 5px 10px 50px 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
}
.area-gray--go input{
    background-color: #faa60f;
    padding: 15px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-size: 16px;
}
.area-gray--go input:hover{
    opacity: .9;
}

.adds {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-title {
    margin-top: 100px;
}
.add-title h2 {
    font-size: 40px;
    color: #3c4c54;
    border-bottom: 2px solid #63001f;
    padding-bottom: 20px;
}
.add-sub {
    margin-top: 20px;
}
.add-sub h3 {
    font-size: 22px;
    color: #3c4c54;
    font-weight: normal;
}
.photos {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    margin-top: 50px;
}
.photos ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.photos ul li {
    margin: 0 15px 15px 0;
}
.photos ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #63001F;
}
.image-small {
    height: 50px;
    width: auto;
    margin: 5px 0;
}
.image-big {
    width: 230px;
    height: 230px;
}
footer {
    background-color: #181b1c;
    padding: 60px 60px 0px 60px;
    color: white;
    font-weight: normal;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.footer-menu ul  {
    display: flex;
}
.footer-menu ul li {
    padding: 0px 15px;
    list-style: none;
}
.footer-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.redes a {
    padding: 5px 5px;
}
.credito {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    line-height: 22px;
}
.credito p {
    color: white;
    font-size: 15px;
}
.credito p a {
    color: #faa60f;
    font-size: 15px;
}



@media  (max-width:1030px) {
    .area1 {
        flex-wrap: wrap;
    }
    form input, form select{
        max-width: 400px;
    }
    .area-gray--title h3{
        width: 600px;
        text-align: center;
    }
    .area1-right {
        margin-top: 30px;
    }
    .add-sub h3 {
        font-size: 25px;
    }
    
}

@media  (max-width:899px) {
    .menu-opener{
        display: block;
    }
    nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    width: 70vw;
    height: calc(100vh - 78px);
    top: 78px;
    right: 0;
    }
    .menu ul {
        flex-direction: column;
        padding-top: 20px;
    }
    .menu li {
        font-weight: bold;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    form input, form select{
        max-width: 300px;
    }
    .footer-menu ul{
        flex-direction: column;
    }
    .footer-menu ul li{
        margin-bottom: 10px;
    }
    .logo-top img{
        width: 150px;
        margin-right: 20px;
    }
    .title p {
        font-size: 22px;
    }
    .title h3 {
        font-size: 25px;
    }
}

@media  (max-width:599px) {
    .logo img {
        width: 100px;
        margin-left: 10px;
    }
    .button, .lupa {
        display: none;
    }
    .area1-left--bottom .title article p{
        font-size: 15px;
    }
    form {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .area1-right, .date,
     .area1-right .blue {
        max-width: 300px;
}
    .photos{
        width: 100%;
    }
    .area-gray--title h3{
        font-size: 14px;
        width: 100%;
        padding: 0 10px;
    }
    .area-gray--title h2 {
        font-size: 24px;
    }
    .add-sub h3{
        text-align: center;
        font-size: 16px;
    }
    .footer-top .redes {
        margin-top: 20px;
    }
    .area1-left--top{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .area1-left--top .logo img {
        width: 250px;
    }
    .area1-left--bottom {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .area1-left--bottom .title p {
        font-size: 18px;
    }
    .footer-top {
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom {
        flex-direction: column;
    }
    .text-fim {
        margin-right: 20px;
        text-align: center;
        line-height: 20px;
    }
    .footer-menu ul  {
        display: flex;
        flex-direction: column;
    }
    .footer-menu li {
        margin-top: 15px;
    }
    .credito {
        margin: 0;
        text-align: center;
        height: auto;
    }
    .credito p {
        font-size: 12px;
    }
    .credito p a{
        font-size: 13px;
    }
}

